* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f6f9;
    color: #333;
}

.hero {
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    color: white;
    text-align: center;
    padding: 40px 20px; /* diminui altura */
}


.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.section {
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.section h2 {
    margin-bottom: 20px;
    color: #2c5364;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
}

.card li {
    margin: 8px 0;
}

.conclusion {
    background: #2c5364;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

/* ANIMAÇÕES */
.animate {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.8s ease;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding-bottom: 30px;
}

.logo {
    height: 200px;
}

.socials a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.socials a:hover {
    opacity: 0.7;
}

/* RESPONSIVO HEADER */
@media (max-width: 600px) {
    .topbar {
        flex-direction: column;
        gap: 15px;
    }

    .logo {
        height: 60px;
    }
}
